<div class="header couleur_menu">
  <div class="pure-menu pure-menu-horizontal">
    <a class="pure-menu-heading" href="{{@BASE}}/logout">Déconnexion</a>

    <ul class="pure-menu-list">
      <li class="pure-menu-item pure-menu-selected">
        <a href="{{@BASE}}/fichiers" class="pure-menu-link">Fichiers</a>
      </li>
      <li class="pure-menu-item">
        <a href="{{@BASE}}/telecharge" class="pure-menu-link">Télécharger</a>
      </li>
      <li class="pure-menu-item">
        <a href="{{@BASE}}/apropos" class="pure-menu-link">A propos</a>
      </li>
    </ul>
  </div>
</div>
